body{
    width: 90vw;
    margin: auto;
    position: relative;
    background: #ffffff url('image/background.png') no-repeat center fixed;
    background-size: 100%;
}
h1 {
    font-family: "DM Serif Text", serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
}
.top-left {
    position: absolute;
    top: 3px;
    left: 16px;
    color: rgb(12, 90, 207);
	font-size: 20px;
	font-family: "DM Serif Text", serif;
}