body {
  width: 90vw;
  margin: 0;
  padding: 0;
  position: relative;
  background-size: 50%;
  background-image: url('deer.png'); 
  background-repeat: no-repeat;
  background-position: right 105px;
  background-attachment: fixed;
  font-family: "Grape Nuts", cursive;
  
}
.top-right {
    position: absolute;
    top: 3px;
    left: 600px;
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif
}
.bottom-left {
  position: fixed;
  bottom: 10px;
  left: 10px;
  margin: 0;
  color: rgb(0, 0, 0);
}